#copyright{
    position: relative;
    color: gold;
    margin: auto;
    text-align: center;
    
}
#footer{
    width: 50%;
    height: 40px;
    position: relative;
    left: 25%;
    right: 25%;
    bottom: 0px;
    display: block;
}

