#wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: lightgreen;
    border: 1px solid green;
}
.label{
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
}
.msg{
    font-family: "Comic Sans MS";
    text-align: center;
}

.placeholder{
    display: block;
    position: relative;
    width: 60%;
    font-family: "Comic Sans MS";
    margin-left: auto;
    margin-right: auto;
    background-color: lime;
    border: 1px solid green;
    padding: 10px;
    text-align: center;
}

form{
    display: block;
    position: relative;
    width: 70%;
    text-align: right;
}

h3{
    text-align: center;
}

.group p{
    display:block;
    position: realtive;
}
.group{
    margin: 20px;
    border: 1px green solid;
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: lime;
}
.groups{
    position: relative;
    display: block;
    left: 20%;
    
}


