
header{
    background-color: lightsteelblue;
    margin: 0px;
    padding: 20px;
    margin-bottom: 100px;
}
a{
    text-align: center;
    
    position: relative;
    display: inline-block;
    color: black;
    height: auto;
    width: auto;
    padding: 5px;
    font-family: "Comic Sans MS";
    margin: 10px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: lightseagreen;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
a:hover{
    background-color: gainsboro;
}
#logo{
    font-family: "Comic Sans MS";
    font-size: 2em;
    text-align: center;
    margin: 15px;
    padding: 10px;
}
#cookieaccept{
    display: inline;
    position: relative;
    width: auto;
    top: 0px;
    background-color: whitesmoke;
    text-align: center;
}
#cookieaccept p{
    text-align: center;
}
#menu{
    display: block;
    position: relative;
    width: auto;
    text-align: center;
}
#languageBox{
    display: inline-block;
    position: relative;
    margin-left: 70px;
}
#languageBox a{
    font-size: 0.6em;
    background-color: lightblue;
    border-radius: 0px;
}