#errorwrapper{
    display: block;
    width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


#loginform{
    text-align: right;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    
}
.logininput{
    margin: 15px;
}
.error{
    display: block;
    width: 400px;
    margin: 10px;
    list-style-type: none;
    color: red;
    font-style: italic;
    font-size: 0.9em;
}
#errors{
    display: block;
    text-align: left;
    width: 500px;
}