#wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgreen;
    padding: 30px;
    border: 1px solid green;
}
.label{
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
}

#avatar{
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 50px;
    margin-top: 0px;
    border: 1px solid green;
    padding: 10px;
    background-color: whitesmoke;
    vertical-align: top;
}
#pilt{
    display: block;
    position: relative;
    width: 130px;
    height: 130px;
    margin: 5px;
    
}
#uploadform{
    display: block;
    width: auto;
    height: auto;
    margin: 10px;
}
#profileinfo{
    display: inline-block;
    position: relative;
    margin: 50px;
    margin-top: 0px;
    padding:20px;
    border: 1px solid green;
    background-color: whitesmoke;
    vertical-align: top;
}
#infolist{
    list-style: none;
    font-size: 1.2em;
}
.infoitem{
    margin: 30px;
}
#image{
    display: block;
    position: relative;
    width: 130px;
    height: 130px;
}

