#errorwrapper{
    display: block;
    width: 20%;
    position: relative;
    font-style: italic;
    font-size: 0.9em;
    color: red;
    margin-left: auto;
    margin-right: auto;
}


#registerform{
    display: block;
    position: relative;
    width: 315px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}
.registerinput{
    margin: 10px;
}
.help{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("http://www.defaulticon.com/images/icons32x32/help.png?itok=LLCXh8Cx");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border-radius: 50%;
    background-color: graytext;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
}
.help:hover{
    background-color: lightgreen;
}
.help:hover::after{
    display: inline;
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    color: lightgreen;
    border-radius: 4px;
    left: 30px;
    padding: 5px;
    text-align: center;
    width: auto;
    white-space: nowrap;
}


.error{
    display: block;
    width: 400px;
    margin: 10px;
    list-style-type: none;
}
#errors{
    display: block;
    text-align: left;
    width: 500px;
}

