#wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: lightgreen;
    border: 1px solid green;
}
.label{
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
}

#groups{
    width: 200px;
    font-family: "Comic Sans MS";
    font-size: 1.2em;
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#tasks{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.task{
    width: 70%;
    height: auto;
    min-height: 80px;
    margin: 40px;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
}

#newTask{
    display: block;
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: lime;
    font-family: "Comic Sans MS";
    border: 1px solid green;
    padding: 30px;
}
h3{
    text-align: center;
}
label{
    vertical-align: top;
}
textarea{
    vertical-align: top;
}
input{
    vertical-align: bottom;
}

